exportPattern("^[[:alpha:]]+")

importFrom("Rcpp", evalCpp)
importFrom("pracma", gramSchmidt, repmat)
importFrom("stats", pnorm, cancor, cov, dist, weighted.mean, sd)
importFrom("survival", survfit, Surv)
importFrom("plot3D", mesh)
importFrom("rgl", surface3d, axis3d, mtext3d, box3d)
importFrom("grDevices", rainbow)
importFrom("graphics", legend, par, plot, plot.new)
importFrom("dr", dr)
importFrom("MASS", ginv, mvrnorm)

S3method(print, orthoDr)
S3method(predict, orthoDr)

useDynLib(orthoDr, .registration = TRUE)
